.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitignore
hw1/BIOS8350HW01.pdf
hw1/hw01.csv
hw1/hw1_F_Allouch.pdf
hw2/BIOS8350HW02.pdf
hw2/hw2_F_Allouch.pdf
hw3/BIOS8350HW03.pdf
hw3/hw3_F_Allouch.pdf
hw3/v4c.csv
hw4/BIOS8350HW04.pdf
hw4/r01new.csv
hw4/v4c.csv
hw4/hw4_F_Allouch.pdf
hw5/BIOS8350HW05.pdf
hw5/catheter.csv
hw5/intake.csv
hw5/hw5_F_Allouch.pdf
hw1/hw01.pdf
hw2/hw02.pdf
hw3/hw03.pdf
hw4/hw04.pdf
hw5/hw05.pdf
hw6/hw06.pdf
hw6/BIOS8350HW06.pdf
hw6/cglogit.pdf
hw6/glogit.pdf
hw6/hw6_F_Allouch.pdf
Midterm/BIOS8350MidTerm.pdf
Midterm/mid.csv
Midterm/midterm_F_Allouch.pdf
hw7/hw7_F_Allouch.pdf
hw7/BIOS8350HW07.pdf
hw8/hw8_F_Allouch.pdf
hw8/BIOS8350HW08.pdf
hw9/BIOS8350HW09.pdf
hw9/hw9_F_Allouch.pdf
hw10/BIOS8350HW10.pdf
hw10/hw10_F_Allouch.pdf